* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

li a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #59981a;
  font-size: 22px;
}

button {
  outline: none;
  padding: 9px 25px;
  background-color: rgba(89, 152, 26, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #ecf87f;
  color: #000;
}

.contact {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card {
  background: #59981a;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card-icon {
  font-size: 28px;
  background: #59981a;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #59981a;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card p {
  max-height: 40;
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #59981a;
  color: white;
  text-align: center;
  font-family: Helvetica Neue;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
