* {
    margin: 0;
    padding: 0;
}


html {
    font-family: 'abel', sans-serif;
    background-color: #ffffff;
    height: 100%;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 2em;
}

nav {
    height: 10%;
    width: 100%;
    position: fixed;
    list-style: square;
    text-align: left;
}

nav > ul > li {
    display: flex;
    font-size: 2vw;
    padding: 5px 0px 5px 60px;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover {
    color: rgb(3, 207, 252);
}

.flex {
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.flexItems {
    border-style: solid;
    width: 40%;
    height: auto;
    background-color: rgb(3, 207, 252);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.footer {
    background-color: rgba(0, 0, 51, 1);
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-top: auto;
}

@media screen and (max-width: 1050px) {

    body {
        background-color: royalblue;
    }

    nav > ul > li {
        display: flex;
        font-size: 3vw;
        padding: 20px 0px 0px 40px;
    }
}